{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "printWidth": 100,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto"
} 